@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Varela+Round&display=swap");
.carousel-item {
  height: 50vh;
  background-position: center;
  background-size: cover -50%;
}
.navbar {
  font-family: "Varela Round", sans-serif;
  
}
form {
  margin-right: 10px;
  font-family: "Varela Round", sans-serif;
}
.d-flex {
  width: 700px;
}
.nav-item {
  margin-left: 40px;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}
.carousel-caption {
  font-size: 35px;
}
.carousel-caption h5 {
  font-size: 25px;
  float: right;
  margin-left: 800px;
}
.carousel-caption p {
  margin-left: 40rem;
  flex-direction: row-reverse;
}
@media screen and (max-width: 800px) {
  .carousel-item {
    height: 40vh;
    background-position: center;
    /* visibility: hidden; */
    background-position: center 50%;
  }
  .carousel-item img {
    height: 300px;
  }
  .nav-item {
    margin-left: 10px;
  }
  .d-flex {
    width: 450px;
  }
  #cards {
    margin-left: -20px;
    margin-top: 100px;
    display: inline;
    border: 1px solid #fff;
  }
  .scrollspy-example {
    margin-bottom: -100px;
    margin-right: 20px;
  }
  .btn {
    width: 80px;
    height: 40px;
    margin-left: 180px;
    margin-top: 10px;
  }
  .form-control {
    position: relative;
    width: 10px;
  }
  .card {
    display: contents;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid;
  
  }
  .list-group {
    width: 300px;
    margin-left: 100px;
  }
  .card img {
    margin-left: 200px;
  }
}
.card {
  position: absolute;
  align-items: center;
  margin-left: 100px;
  margin-top: 20px;
  /* background-image: url(./img/pexels-pixabay-38537.jpg); */
  background-position: center;
  background-size: cover;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 50px 50px rgba(0, 0, 0, 0.28);
}
.card:hover {
  box-shadow: 0 19px 38px rgb(255, 253, 253),
    0 50px 50px rgba(243, 240, 240, 0.29);
}
.card-body h5 {
  font-size: 30px;
}
.scrollspy-example {
  margin-left: 60px;
  margin-top: 5px;
}
.form-control {
  width: 450px;
}
