@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Varela+Round&display=swap");
.carousel-item {
  height: 50vh;
  background-position: center;
  background-size: cover -50%;
}
.navbar {
  font-family: "Varela Round", sans-serif;
}
form {
  margin-right: 10px;
  font-family: "Varela Round", sans-serif;
}
.d-flex {
  width: 700px;
}
.nav-item {
  margin-left: 40px;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}
.carousel-caption {
  font-size: 35px;
}
.carousel-caption h5 {
  font-size: 25px;
  float: right;
  margin-left: 800px;
  font-family:"Varela Round", sans-serif;
}
.carousel-caption p {
  margin-left: 40rem;
  flex-direction: row-reverse;
  font-family: "Varela Round", sans-serif;
}
@media screen and (max-width: 800px) {
  .carousel-item {
    height: 40vh;
    background-position: center;
    /* visibility: hidden; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;
  }
  .carousel-item img {
    height: 300px;
  }
  .nav-item {
    margin-left: 10px;
  }
  #cards {
    margin-left: -97px;
    margin-top: 50px;
    align-items: center;
    padding-left: -500px;
    overflow:hidden;
   
  }
  .scrollspy-example {
    margin-bottom: -100px;
    margin-right: 20px;
  }
  .form-control {
    position: relative;
    width: 10px;
    margin-right: 400px;
    /* visibility: hidden; */
    height: 40px;
    border-radius: 1px;
  }
  .input-group img{
    visibility: hidden;
  }
  .btn {
    width: 80px;
    size: 14px;
    height: 40px;
    margin-right: 300px;
    visibility: hidden;
  }
  .navflex {
    margin-top: 300px;
  }
  .form-control2{
    outline: none;
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
  }
  .btn2{
    outline: none;
    size: 15px;
  }
  
}
.form-control2{
  visibility: hidden;
}
.btn2{
  visibility: hidden;
}
.card {
  position: absolute;
  align-items: center;
  margin-left: 100px;
  margin-top: 230px;
  /* background-image: url(./img/pexels-pixabay-38537.jpg); */
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 24px 24px  rgba(0, 0, 0, 0.40), 0 50px 50px rgba(0, 0, 0, 0.29);
  font-family: "Varela Round", sans-serif;
}
.card-body h5 {
  font-size: 30px;
}
.scrollspy-example {
  margin-left: 60px;
  margin-top: 5px;
}
.search {
  margin-top: -400px;
  margin-left: 400px;
  position: absolute;
}
.form-control {
  width: 450px;
}
.input-group {
  margin-bottom: -100px;
}
datalist {
  width: 500px;
}
